body {
    background-image: url(../img/sapatos2.jpg);
    padding-top: 68px;
    padding-bottom: 40px;
    background-color: #eee;
}

button {
    width: 15%;
    margin-bottom: 15px;
}

h11 {
    color:red;
}

.panel-heading{
    font-size:150%;
}

.container {
    background-color: #C1CDCD;
}

.containerModal {
    background-color: #C1CDCD;
    margin-top: -5px;

}
.panel-heading {
    text-align: center;
}

.help-block {
    text-align: right;
}

#tabelaProdutos {
    width:90%;
    margin-left: 68px;
    margin-top: 10px;
    text-align: center;
}

#buscaProdTab {
    width: 150px;
    margin-left: 1130px;
    margin-top: 10px;
}
#excluir ,#editar {
    margin: 3px;
    width: 18px;
}

#topo{
    margin-left: 1040px;
}

#btn-editar{
    width: 50px;
}

#codModal {
    margin-left: 3px;
    position: initial;
}

.form-row {
    margin-left: 5px;
}
#modal{
    margin-top: 3px;
}