body {
    margin-top: 68px;
    background-image: url(../img/sapatos2.jpg);
/*    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 180px;
    padding-left: 180px;*/
width: 100%;
    background-color: #eee;
}

button {
    width: 16%;
    margin-bottom: 15px;
}

.panel-heading{
    font-size:150%;
}

.container {
    background-color: #C1CDCD;
width: 90%;}

.panel-heading {
    text-align: center;
}

.help-block {
    text-align: right;
}
